.nextpage{
    background-color: var(--secondary-color);
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.txtAtas, 
.txtBawah{
    position: absolute;
    text-transform: uppercase;
    font-style: italic;
    pointer-events: none;
    color: var(--font-color);
    z-index: 1;
    white-space: nowrap;
    font-size: 8rem;
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-weight: 800;
}

.txtBawah{
    z-index: 5;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
    color: var(--secondary-color);
}


.intrnImg{
    z-index: 2;
    width: 400px;
    height: 400px;
}

.intrnPicture{
    width: 1900px;
    height: 900px;
}

.txtPertamma{
    position: absolute;
    top: 19rem;
    left: 27rem;
}

.txtKedua{
    position: absolute;
    top: 12rem;
    left: 20rem;
}

/* breakpoints */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
    .txtAtas, 
    .txtBawah{
        font-size: 2.5rem;
    }
    .txtBawah{
        z-index: 5;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        color: var(--secondary-color);
    }
    .txtPertamma{
        top: 21.4rem;
        left: 1.5rem;
    }
    
    .txtKedua{
        top: 18.5rem;
        left: 3.5rem;
    }

    .intrnPicture{
        width: 1200px;
        height: 1200px;
    }
}
@media screen and (max-width: 350px) {
}