.about {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;

}

.tittleBar{
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2.5rem;
    color: var(--navbar-color);
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.tittleBar span:nth-child(2){
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    gap: 2rem;
    padding-bottom: 2rem;
}

.kartu{
    height: 65px;
    width: 207px;
    padding: 20px 35px;
    background-color: var(--navbar-color);
    border-radius: 10px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--third-color);
}

.kartu i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
    color: var(--font-color);
}

/* breakpoints */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
    .about {
        height: 140vh;
    
    }
    .box{
        display: block;
        padding: 0rem 4rem;
    }

}
@media screen and (max-width: 350px) {
}
