nav{
    font-size: 1rem;
    z-index: 4;
}

nav a{
    color: var(--font-color);
}

.navIcon{
    display: none;
}

.logoImg{
    position: absolute;
    width: 4rem;
    height: 4rem;
    z-index: 8;
}

.navMenuKanan{
    display: flex;
    line-height: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 4;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--navbar-color);
}

.navMenuKanan a{
    transition: all 0.5s ease;
}

.navMenuBawah{
    position: absolute;
    top: 0.7rem;
    left: 70rem;
    display: flex;
    line-height: 1.5rem;
    text-align: center;
    z-index: 4;
    gap: 1.5rem;
}


.navMenuBawah a{
    background-color: var(--third-color);
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
    color: var(--navbar-color);
    transition: all 0.5s ease;
}

.navMenuBawah a:hover{
    background-color: transparent;
    border: 1px solid var(--third-color);
    color: var(--font-color);
}

.navMenuKanan a:hover{
    color: var(--third-color);
}

/* breakpoints */
@media screen and (max-width: 1920px) {
    .navMenuBawah{
        left: 105rem;
    }
}
@media screen and (max-width: 1366px) {
    .navMenuBawah{
        left: 70rem;
    }
    
}
@media screen and (max-width: 1280px) {
    .navMenuBawah{
        left: 65rem;
    }
    
}
@media screen and (max-width: 576px) {
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navUtama{
        position: absolute;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .navIcon{
        display: block;
        font-size: 2rem;
        color: var(--third-color);
    }
    .navText{
        display: none;
    }
    .logoImg{
        display: flex;
        flex-direction: row;
        position: fixed;
        left: 9rem;
    }
    .navMenuKanan, 
    .navMenuBawah{
        display: flex;
        flex-direction: row;
        position: static;
        gap: 0.6rem;
        align-items: center;
    }
    .navMenuBawah{
        display: none;
    }
    .containerNav{
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 4;
        background-color: var(--navbar-color);
        backdrop-filter: blur(20px);
        bottom: 1.3rem;
        padding: 0.1rem 0.2rem;
        border-radius: 15px;
        gap: 0.6rem;
    }

    .navMenuKanan{
        background-color: transparent;
    }

    .iconAktif{
        background-color: var(--secondary-color);
        padding: 0.3rem;
        border-radius: 50px;
    }
}
@media screen and (max-width: 350px) {
}